<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.group.pow.search">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_search">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.group.pow.search.SearchActivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter android:order="3" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="bfinder-instant.com"
                    android:pathPrefix="/search" />
            </intent-filter>
            <intent-filter android:order="3" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
      binding.button2.setOnClickListener {
            //openModule(AppConstants.BOOKS_MODULE_PATH)
            val intent =
                Intent().setClassName(BuildConfig.APPLICATION_ID, "com.game.books.BooksActivity")
            startActivity(intent)
        }

        binding.button3.setOnClickListener {
            Timber.d("1")
            (activity as MainActivity).loadAndLaunchModule(AppConstants.SEARCH_MODULE)
        }

        binding.button4.setOnClickListener {
            val intent = Intent().setClassName(
                BuildConfig.APPLICATION_ID,
                "com.group.pow.search.SearchActivity"
            )
            startActivity(intent)
        }

                <data
                    android:scheme="http"
                    android:host="bfinder-instant.com"
                    android:pathPrefix="/search" />
            </intent-filter>
            -->

        </activity>
    </application>

</manifest>

